.slider-container{
	position: relative;

	.viewport{
		overflow: hidden;
		position: relative;
		ul{
			overflow: hidden;
			transition-duration: .2s;
		}
		li{
			float: left;
		}
	}
	.nav-buttons{
		button{
			&.prev{
			}
			&.next{
			}
		}
	}
	.pagination{
		display: flex;
		column-gap: 4px;
		li{}
	}
	.thumbnails{
		li{}
	}
}