.slider-container{
	$blankColor: #f6f6f6;

	position: relative;

	.viewport{
		overflow: hidden;
		position: relative;
		&>ul{
			display: flex;
			&.animate{
				transition: transform .4s;
			}
			&>li{
				display: flex;
				min-height: 100px;
				justify-content: center;
				align-items: center;
				background-color: $blankColor; //썸네일 생성시 필요
			}
		}
	}
	.nav-buttons{
		button{
			position: absolute;
			top:50%;
			display: block;
			&::before{
				display: block;
				content: 'test';
			}
			&.prev{
				left:0;
			}
			&.next{
				right:0;
			}
		}
	}
	.pagination{
		display: flex;
		column-gap: 4px;
		justify-content: center;
		li{
			&:not(.on){
				cursor: pointer;
			}
			&.on, 
			&:hover{
				color: red;
			}
		}
	}
	.thumbnails{
		$columnGap: 2px;

		display: flex;
		flex-wrap: wrap;
		column-gap: $columnGap;
		li{
			display: flex;
			justify-content: center;
			align-items: center;
			width:calc(25% - $columnGap);
			box-sizing: border-box;
			border: 1px solid transparent;
			background-color: $blankColor;

			&:not(.on){
				cursor: pointer;
			}
			&.on, 
			&:hover{
				border-color: red;
			}
			img{
				display: block;
				width: 100%;
			}
		}
	}
}