.slider-container{
	$blankColor: #eee;

	position: relative;

	.viewport{
		overflow: hidden;
		position: relative;
		&>ul{
			display: flex;
			height:100%;
			&.animate{
				transition: transform .4s;
			}
			&>li{
				display: flex;
				min-height: 100px;
				justify-content: center;
				align-items: center;
				background-color: $blankColor; //썸네일 생성시 필요
			}
		}
	}
	.nav-buttons{
		button{
			position: absolute;
			top:0;
			display: flex;
			width: 50px;
			height: 100%;
			justify-content: center;
			align-items: center;
			color:#333;

			&:hover{
				background-color: rgba(0,0,0,.04);
			}
			&.prev{
				left:0;
			}
			&.next{
				right:0;
			}
		}
	}
	.bullets{
		display: flex;
		margin-top: 24px;
		column-gap: 6px;
		justify-content: center;
		li{
			overflow: hidden;
			text-indent: 100%;
			width:12px;height:12px;
			border-radius: 50%;
			font-size: 14px;
			&:not(.on){
				cursor: pointer;
				background-color: #e0e0e0;
			}
			&.on, 
			&:hover{
				color: red;
				background-color: $blue;
			}
		}
	}
	.thumbnails{
		display: flex;
		margin-top: 25px;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 15px;
		li{
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			box-sizing: border-box;
			border: 4px solid #e0e0e0;
			background-color: $blankColor;

			&:not(.on){
				cursor: pointer;
			}
			&.on, 
			&:hover{
				border-color: $blue;
			}
			img{
				display: block;
				height: 100%;
			}
		}
	}
}