@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/NotoSansKR-Regular-subset.woff2) format('woff2')
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/NotoSansKR-Bold-subset.woff2) format('woff2')
}