
.main-container{
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 100px;
	color: #333;
	
	a{
		text-decoration: underline;
	}
	h2{
		font-size: 40px;
		font-weight: bold;
	}
	
	.personal-info{
		padding-top: 78px;

		&>ul{
			padding-top: 44px;

			&>li{
				display: grid;
				grid-template-columns: 155px 1fr;

				&:not(:first-child){
					margin-top: 20px;
				}
	
				.title{
					font-size: 20px;
					font-weight: bold;
				}
				.content{
					font-size: 18px;
				}
			}
		}
	} //personal-info
	.career{
		position: relative;
		padding-top: 155px;
		
		.projects{
			padding-right: 30px;
			
			section{
				display: flex;
				padding-top: 150px;
			}
			section:not(section +section){
				padding-top: 34px;
			}
			.slider-area{
				// width: 545px; //Slider컴포넌트에 props로 넘김
				.bullets{
					display: none;
				}
				.thumbnails{
					display: flex;
				}
			}
			.project-desc-area{
				flex:1 1 auto;
				padding-left: 50px;
				padding-top: 8px;
			}
		}
		.timeline-rail{
			position: absolute;
			right:-80px;top:0;
			height: 100%;

			.timeline-box{
				position: sticky;
				top: 0;
				display: flex;
				align-items: end;
				
				// 첫번째 section의 높이값
				// ㄴ timeline의 처음위치를 section영역 하단에 맞춰줌
				height: 90vh;
				// max-height: 624px;
			}
		}

		.project-desc{
			.period{
				.year{
					font-size: 36px;
				}
				.month{
					padding-left: 3px;
					font-size: 25px;
				}
				.dashed{
					position: relative;
					top: -3px;
					padding: 0 7px;
					font-size: 24px;
				}
			}
			.technologies{
				display: inline-flex;
				flex-wrap: wrap;
				column-gap: 8px;
				row-gap: 5px;
				margin-top: 7px;
				li{
					padding: 0 6px;
					line-height: 24px;
					font-size: 15px;
					color: #555;
					background-color: #e0e0e0;
				}
			}
			.details{
				margin-top: 50px;
				li{
					display: grid;
					grid-template-columns: 95px 1fr;
					&:not(:first-child){
						margin-top: 12px;
					}
					p{
						line-height: 1.5;
					}
				}
				.title{
					font-size: 18px;
					font-weight: bold;
				}
				.content{
					word-break: keep-all;
					font-size: 17px;
				}
			}
			.refs{
				margin-top: 40px;
				li{
					&:not(.link){
						display: flex;
						align-items: center;
					}
					&:not(:first-child) {margin-top: 4px;}
					font-size: 15px;

					.ico{
						padding-right: 4px;
						font-size: 16px;
						color: #929292;
					}
					a{
						font-size: 14px;
						color: $blue;
					}
					.inactive{
						color: $gray200;
						.ico{
							color: $gray200;
						}
					}
					
					&.link{
						p{
							display: flex;
							align-items: center;
							.ico{
								margin-top: 2px;
							}

							&.inactive{
								span{
									padding-right: 4px;
									text-decoration: underline;
								}
							}
						}
					}

				}
			}
		} //project-desc
		.timeline{
			$itemH: 18px;
			$bullW: 11px;

			width: 80px;
			
			li{
				position: relative;
				height: $itemH;
				font-size: 14px;
				color: #bebebe;
				cursor: pointer;
			}
			li::before, 
			li::after{
				position: absolute;
				left:50%;
				bottom:1px;
				display: inline-block;
				content: '';
				background-color: #bebebe;
			}
			li::before{
				z-index: 1;
				width: $bullW;height: $bullW;
				margin-left: -(calc($bullW / 2));
				border-radius: 50%;
			}
			li::after{
				width: 1px;height: $itemH;
				margin-left: -.5px;
			}
			li:first-child{ //'NOW'아이템
				text-indent: -1px;
				&::after{display: none}
			}
			li:nth-child(even){
				text-align: right;
			}
			li.on, li:hover{
				color: $blue;
				&::before{
					background-color: $blue;
				}
			}
			li.on.point{
				&::before{
					animation: dimming 1.4s infinite linear;
				}
				@keyframes dimming {
					0%, 100% {
						box-shadow: 0 0 2px $blue;
					}
					50% {
						box-shadow: 0 0 8px 1px $blue;
					}
				}
			}
			li.on +li.on{ //범위 표현
				&::after{
					background-color: $blue;
				}
			}
			li.off{
				color: $gray100;
				cursor: default;
				&::before{
					background-color: $gray100;
				}
			}
			li.off +li.off{ //범위 표현
				&::after{
					background-color: $gray100;
				}
			}
		} // timeline
	} //career
}


/* 화면너비 1000px이하 : mobile화면 적용 **************************************************/
@media (max-width:1000px){
	.main-container{
		width: 545px; //tmp: slider너비를 따라갑니다
		padding-bottom: 80px;

		.personal-info{
		} //personal-info
		.career{
			.projects{
				section{
					flex-wrap: wrap;
					// justify-content: center;
				}
				.slider-area{
					.bullets{
						display: flex;
					}
					.thumbnails{
						display: none;
					}
				}
				.project-desc{
					padding-top: 30px;
					padding-left: 0;
				}
			}
			.timeline-rail{
				display: none;
			}
		} //career
	}
}